* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #1abc9c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-clock {
  display: flex;
  gap: 10px;

  & > section {
    position: relative;

    & > div {
      &::before {
        content: attr(data-before);
        color: #f00;
      }
      &::after {
        content: attr(data-after);
        color: #00f;
      }
    }
  }

  & > p::after {
    content: ':';
  }
}
